
@font-face {
    font-family:'apercuBold' ;
    src: url('font/Apercu Font Family/Apercu\ Bold.otf');
}

@font-face {
    font-family:'apercuMedium' ;
    src: url('font/Apercu Font Family/Apercu\ Medium.otf');
}

@font-face {
    font-family:'apercuRegular' ;
    src: url('font/Apercu Font Family/Apercu\ Regular.otf');
}

@font-face {
    font-family:'apercuLight' ;
    src: url('font/Apercu Font Family/Apercu\ Light.otf');
}



@font-face {
    font-family:'tiempo' ;
    src: url('font/Tiempos-Font/TiemposHeadline-Black.otf');
}

*{
    padding: 0;
    margin: 0;box-sizing: border-box;
    
}

:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --colorPreto:#2B2823;
    color: var(--colorPreto);
    --verde:#60edb3;
    font-family: apercuLight;
  
}

/* .body{
    width: 100vw;
    display: grid;
} */

.container{
    width: 70%;
    margin: auto;
}

.menu{
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid #efefee;
    box-shadow: 2px 2px 10px #efefee;
    padding-left: 3%;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-size: clamp(16px, 1.5625rem, 25px);
    font-family: apercuLight;
   text-transform: uppercase;
}

.title{
    font-family: tiempo;
    font-size: 70px;
    font-size: clamp(30px, 4.375rem, 70px);
    line-height: 70px;
    line-height: 4.375rem;
    text-align: center;
    margin-top: 40px;
    margin-top: 2.5rem;
}


/* section-1 */

.section-1-content{
   
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    gap: 1.875rem;

    padding-top: 150px;
    padding-top: 9.375rem;
}

.section-1-content .texts{
 width: 60%;
}

.section-1-content .header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    gap: 1.25rem;
}

.section-1-content .header .numero{
    width: 10%;
   
}

.section-1-content .header .numero div{
    width: 70px;
    height: 70px;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    background-color: var(--verde);
    display: grid;
    place-items: center;
    font-size: 30px;
    font-size: clamp(16px, 2.875rem, 30px);
    font-family: apercuMedium;
}

.question{
    width: 90%;
}
.question h2{
   font-size: 35px;
   font-size: clamp(18px, 2.1875rem, 35px);
   line-height: 40px;
}

.question-text{
    margin-left: 10%;
    padding-left: 20px;
}


.question-text p span{
    font-size: 25px;
    font-size: clamp(18px, 2.1875rem, 25px);
    margin-top: 20px;
    margin-top: 1.25rem;
    font-family: apercuMedium;
}
.question-text p{
    font-size: 20px;
    line-height: 1.5em;
    font-size: clamp(16px, 1.25rem, 20px);
    margin: 20px 0;
    margin: 1.25rem 0;
}
.section-1-content .img{
    width: 40%;
   display: grid;
}

.section-1-content .img img{
    width: 100%;
   
}

.sect-texts-2{
    order: 2;
}
.sect-img-2{
    order: 1;
}

.text-solo{
    margin-top: 9.375rem;
    font-size: 20px;
    font-size: clamp(12px, 1.25rem,20px);
    width: 70%;
    text-transform: uppercase;
    text-align: center;
   
}



.img-chairs{
  
    height: 370px;
   background-image: url('assets/img-top.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
}

.img-chairs-2{
  
    height: 370px;
   background-image: url('assets/cadeira.png');
   background-size: contain;
   background-repeat: no-repeat;
   background-position: left;
}

.pessoas{
    width: 100%;
    margin-top: 9.375rem;
}

.section-pessoas{
  display: grid;
  place-items: center;
}
.section-pessoas img{
    width: 100%;
}
.section-pessoas .text{
    font-size: 16px;
    margin-top: 30px;
  }


/* video */
.section-video{
    margin-top: 9.375rem;
    display: grid;
}
.text-video{
    font-size: 20px;
    font-size: clamp(12px, 1.25rem,20px);
    width: 70%;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
}

.video-content{
    display: grid;
    margin-top: 1.875rem;
}

.video{
    width: 70%;
    height: 500px;
    height: 31.25rem;
    margin: auto;
}




/* slide */
.section-slide{
margin-top: 150px;
margin-top: 9.375rem;
margin-bottom: 80px;
margin-bottom: 5rem;

}
.section-slide-1-content{
  
    width: 100%;
height: 150px;
/* height: 9.375rem; */
display: flex;
justify-content: center;

}
.sliderBase{
    width: 86%;
    height: 150px;
    /* height: 9.375rem; */

  }
.text-base{
    width: 100%;
    height: 150px;
    /* height: 9.375rem; */
    
}

.base1{
  background-color: #fc0069;
  background-color: #EFEFEE;
}

.base2{
    background-color: #50fc00;
    background-color: #EFEFEE;
}
.base3{
        background-color: #0058fc;
        background-color: #EFEFEE;
}


.text-top-slide{
    font-size: 20px;
    font-size: clamp(12px, 1.25rem,20px);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}




.sliderBase .text-base{
 padding: 0 30px;
display: flex;
justify-content: center;
align-items: start;
flex-direction: column;
gap: 20px;
}

.sliderBase .text-base .text{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.sliderBase .text-base .author{
    font-size: 16px;
   
    font-family: apercuMedium;
}

.sliderBase .text-base .author div{
  display: inline-block;
  width: 13px;
  height: 2px;
  background-color: #2B2823;
 margin-bottom: 4px;
}
/* fim slide */

/* section-center */

.section-center-item{
    display: grid;
    place-items: center;
}


.text-video, .text-top-slide,.text-solo {
  
    font-family: apercuRegular;
    line-height: 2.5rem;
    font-size: 1.5625rem;
}
@media (max-width:992px){

   
    .section-slide-1-content{
  
        width: 100%;
        height: 250px;
  
    
    }
    .sliderBase{
        width: 86%;
        height: 250px;
       
    
      }
    .text-base{
        width: 100%;
        height: 250px;
    
        
    }

    .img-chairs{
  
       background-position: center;
    }
    .img-chairs-2{
  
       background-position: center;
    }
    
    

    .texts{
        order: 2;
    }
    .img{
        order: 1;
    }

    .section-1-content{
       
        flex-direction: column;
    }

    .section-1-content .texts{
        width: 100%;
       }
       

    .question{
        width: 100%;
        
    }
    .question h2{
       line-height: 30px;
        font-size: 25.888px;
    }
  
    
    .question-text{
        margin-left: 0%;
        padding-left: 0px;
    }

    .section-1-content .img{
        width: 100%;
    }
    
    .section-1-content .img img{
        width: 100%;
    }

    .video{
        width: 100%;
       
    }

    .text-video{
     
        width: 100%;
      
    }
    .img-large{
        width: 80%!important;
        margin: auto;
    }

    .section-1-content .header{
     
        gap: 1.25rem;
        gap: 30px;
    }
    
   

    .text-video, .text-top-slide,.text-solo {
        font-size: 18px;
        font-family: apercuRegular;
        text-align: start;
        line-height: 30px;
    }

    .title {
      
        font-size: 40px;
       
    }

    .question-text p span {
        font-size: 22px;
     
    }
    
}






.produtos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.produto{
    width: 400px;
    height: 650px;
  
   border: 1px solid rgb(224, 224, 224);
   padding: 0 10px;
   transition: all .5s;
}
.produto:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 2px 2px 10px #dfdfdf;
}

.img-produto{
    width: 100%;
    height: 40%;
   padding-top: 30px;
}
.img-produto a{
    width: 100%;
    height: 40%;
    display: grid;
  
}

.img-produto a img{
    width: 70%;
   margin: auto;
}

.info{
    height: 60%;
    width: 100%;
    display: grid;
   place-items: center;
   padding: 70px 0 30px 0;
  
}

.info .nome{
    font-size: 16px;
    text-align: center;
}

.info .nota .fa-star{
    font-size: 18px;
    color:#FFBB00;
}

.info .nota .sem-fundo{
   
    -webkit-text-stroke: 1px #FFBB00;
-webkit-text-fill-color: #FFFFFF;
}

.preco-1{
    font-size: 14px;
    text-decoration: line-through;
}

.preco-2{
    font-size: 20px;
    font-weight: 700;
}

.preco-3{
    font-size: 26px;
   font-family: apercuBold;
}

.parcela{
    font-size: 14px;
}

.parcela span{
    font-size: 14px;
    font-family: apercuBold;
}

.btn{
 margin-top: 20px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.btn a{
   text-decoration: none;
   padding: 4px 40px;
   border: 1px solid #333;
   font-size: 26px;

   color: #333;
   border-radius: 6px;
}

.btn:hover{
 opacity: .5;
}

.thierry{
    width: 100%;
    height: 300px;
    height: 18.75rem;
background-image: url('/assets/thierry.png');
background-size: cover;
}


.btn-2{
    display: grid;
    padding: 9.375rem 0;
}


button{
    padding: 0.5rem 1.25rem;
    background-color: var(--verde);
    border: none;
    margin: 1.875rem 0;
    border-radius:3px;
  margin: auto;
}

button:hover{
  opacity: .6;
  cursor: pointer;

}

button a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.125rem;
}


.foto{
    width: 100%;
}
.foto-content{
    display: grid;
}

.foto-content .img-foto{
    width: 100%;
    display: grid;
}


.foto-content .img-foto img{
    width: 70%;
    margin: auto;
}

.nomes{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 1.25rem;
}

.assi{
    width: 100%;
   margin-top: 1.875rem;
  
display: grid;
place-items: center;
}
.assis-content{
    width: 40%;
    display: flex;
    justify-content: center;
}
.assi img{
    width: 40%;
    margin: auto;
}

/* footer */

.footer{
    margin-top: 6rem;
    width: 100vw;
    height: 4.375rem;
  
   justify-content: center;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-size: clamp(10px, 1rem, 16px);
    font-family: apercuLight;
  
   background-color: #EFEFEE;
}

@media (max-width:992px){

    .btn-2{
        display: grid;
        padding: 9.375rem 0;
    }
    .img-produto a img {
        width: 90%;
       
    }
    
    button{
        padding: 0.5rem 1.25rem;
        background-color: var(--verde);
        border: none;
        margin: 1.875rem 0;
        border-radius:3px;
      margin: auto;
    }
    
    button:hover{
      opacity: .6;
      cursor: pointer;
    
    }
    
    button a{
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        font-size: 20px;
    }

    .foto-content .img-foto img{
        width: 100%;
        margin: auto;
    }
    .assi img{
        width: 60%;
        margin: auto;
    }
    .produtos{
      
      flex-direction: column;
      gap: 40px;
    }

    .produto{
        width: 100%;
  
       border: 1px solid rgb(224, 224, 224);
    }


    .thierry{
        width: 100%;
        height: 300px;
        height: 50rem;
        background-image: url('/assets/thierry.png');
        background-size: cover;
        background-position: -100px 0;
    }

    .footer{
     
        font-size: 11px;
       
    }
    
}

@media (min-width:540px) and (max-width:992px) {
    .produto{
        width: 100%;
       height: 1000px!important;
      
       border: 1px solid rgb(224, 224, 224);
    }


    .info {
        height: 60%;
        width: 100%;
        display: grid;
        place-items: center;
        padding: 186px 0 30px 0;
    }

}








@media (min-width:912px) and (max-width:1680px) {
   .container{
       width: 87%;
   }
}

@media (min-width:950px) and (max-width:1400px) {
    .produto{
        width: 300px;
        height: 650px;
      
       border: 1px solid rgb(224, 224, 224);
    }
 }
 



@media (min-width:912px) and (max-width:1680px) {
    :root {
        font-size: 13px;
    }
}



@media (max-width:912px) {
    :root {
        font-size: 12px;
    }

    .container{
        width: 85%;
       
    }
}

@media (min-width:900px) and (max-width:913px) {
    :root {
        font-size: 16px;
    }
}